@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@mixin margin-auto {
  margin: 0 auto;
  padding: 0;
}

@mixin text-shadow {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.66);
}

@mixin transition {
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
}

@keyframes shrinkHeight {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@media screen and (min-width: 1px) {
*,
*::before,
*::after {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

  html,
  body {
    background: hsl(30, 13%, 6%);
    color: #fff;
    height: 100%;
    width: 100%;
  }

  a {
    color: #fff;
  }


  section > h3 {
    font-size: 2.5em;
  }

  // Main Header
  header.main-header {
    background: no-repeat fixed center center / cover;
    background-image: url("../images/paintball-in-forest-small.jpg");
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    h1,
    h2 {
      @include text-shadow;
    }
    p {
      font-size: 1.25em;
      max-width: 60ch;
      padding: 1em;
      text-shadow: 0 0 7px #000;
    }
    .col {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        @include text-shadow;
        @include transition;
        background: transparent;
        border: 2px solid hsl(70, 50%, 75%);
        display: inline-block;
        font-size: 1.25em;
        font-weight: 700;
        margin: 1em auto;
        overflow: hidden;
        padding: 0.5em 1em;
        position: relative;
        text-align: center;
        text-decoration: none;
        z-index: 2;

        &::before {
          @include transition;
          content: "";
          background: hsl(70, 50%, 75%);
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transform: translateX(-100%);
          width: 100%;
          z-index: 1;
        }
        &:hover {
          color: hsl(70, 50%, 75%);
          border-color: #fff;
          &::before {
            animation: shrinkHeight 250ms ease-out 250ms forwards;
            transform: translateX(0);
            transform-origin: bottom;
          }
        }
      }
    }
  }

  // About Us Section
  section.about-us {
    background: hsla(65, 28%, 15%, 0%);
  display: grid;
    align-items: center;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(.75fr, 1fr));
    grid-auto-rows: min-content;
    margin: {
      top: 1em;
      right: auto;
      bottom: 0;
      left: auto;
    }
    padding: {
      top: 0;
      right: 1em;
      bottom: 0;
      left: 1em;
    }
    max-width: 968px;
    a {
      min-width: 125px;
    }
    .card {
      margin: 1em auto;
      text-align: center;
      .card-inner {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .card-img-container {
          display: none;
          padding: 1em;
          .card-img {
            max-height: 100%;
            max-width: 100%;
          }
        }
        .card-content-container {
          background:hsla(62, 23%, 24%, 25%);
          border: 1px solid #fff;
          min-height: 350px;
          padding: 1em;
          text-align: center;
          h3 {
            display: inline-block;
            margin-bottom: 1em;
            position: relative;
            &::after {
              background:#fff;
              bottom: -7px;
              content: '';
              display: block;
              height: 2px;
              left: 0;
              max-width: 150px;
              position: absolute;
              width: 100%;
            }
          }
          p {
            margin: 1em auto;
            text-align: left;
          }
          a {
            @include text-shadow;
            @include transition;
            background: transparent;
            border: 2px solid hsl(70, 50%, 75%);
            display: inline-block;
            font-size: 1.25em;
            font-weight: 700;
            margin: 1em auto;
            overflow: hidden;
            padding: 0.5em 1em;
            position: relative;
            text-align: center;
            text-decoration: none;
            z-index: 2;
        
            &::before {
              @include transition;
              content: "";
              background: hsl(70, 50%, 75%);
              display: block;
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              transform: translateX(-100%);
              width: 100%;
              z-index: 1;
            }
            &:hover {
              color: hsl(70, 50%, 75%);
              border-color: #fff;
              &::before {
                animation: shrinkHeight 250ms ease-out 250ms forwards;
                transform: translateX(0);
                transform-origin: bottom;
              }
            }
          }
        }
      }
    }
  }

  //  Pricing
  section.pricing {
    margin: auto;
    padding: 1em;
    text-align: center;
    .pricing-container {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: 0;
      .price-card{
        background:transparent;
        border: 2px solid #008000;
        color: forestgreen;
        flex: 1 1 100%;
        margin: 1em auto;
        padding: 1em 1em 2em 1em;
        h3 {
          background: transparent;
          color: hsl(70, 50%, 75%);
        }
        .price {
          font-size: 1.25em;
          font-weight: 800;
        }
        .extras {
          font-weight: 700;
        }
        ul {
          list-style-position: inside;
        }
        span,
        p,
        li {
          text-align: left;
        }
      }
    }
      
  }

  //  Contact
  section.contact {
    width: 100%;
    text-align: center;

  }

  //  CTA
  section.cta {
    padding: 1em;
    text-align: center;
    h3 {
      font-size: 2em;
      text-transform: capitalize;
    }
    .container {
      width: 100%;
    }
    form {
      line-height: 1.5;
      width: 100%;
      .form-control {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        input {
          border: none;
          font-size: 1em;
          flex: 0 0 100%;
          margin: 1em auto;
          padding: 1em;
          width: 100%;
        }
        input[type=submit] {
          flex: 0 0 100%;
          max-width: 350px;
        }
      }
    }
  }

  //  Events
  section.events {
    h3 {
      font-size: 2.5em;
      text-align: center;
      text-shadow: 2px 2px 10px rgba(255,255,255,0.33);
    }
    .event-panel {
      margin: 1em auto;
      position: relative;
      .inner-panel {
        .row {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          font-size: 1.25em;
          justify-content: center;
          padding: 1em;
          .col {
            flex: 0 0 100%;
            margin: auto;
            text-align: center;
            .row {
              justify-content: flex-start;
              h4 {
                border: {
                  bottom: 1px solid #fff;
                }
                margin: 1em auto;
                padding-bottom: 1em;
                text-align: center;
              }
              .date {
                display: block;
              }
            }
          }
        }
      }
      &::before,
    &::after {
      background: linear-gradient(0.25turn, #110f0d, #1f1e15, #d5df9f, #fff);
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &::before {
      top: -1px;
    }
    &::after {
      bottom: -1px;
    }
    }
  }

  //  Footer
  footer.main-footer {
    align-items: center;
    background: hsla(62, 23%, 24%, 25%);
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(100%));
    padding: {
      top: 1em;
      right: 1em;
      bottom: 0em;
      left: 1em;
    }
    justify-items: center;
    h4 {
      padding: 0;
    }
    ul {
      list-style: none;
      width: 100%;
      li {
        display: inline-block;
        margin: {
          right: 1em;
        }
        a {
          padding: .5em 1.5em .5em 0em;
        }
      }
    }
    a {
      color: hsl(70, 50%, 75%);
    }
    .col {
      align-items: center;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      margin: auto;
      height: 100%;
      width: 100%;
      h4 {
        align-self: flex-start;
        margin-bottom: 1em;
        position: relative;
        text-align: left;
        &::after {
          background:hsl(70, 50%, 75%);
          bottom: -7px;
          content: '';
          display: block;
          height: 2px;
          left: 50%;
          max-width: 150px;
          position: absolute;
          transform: translateX(-50%);
          width: 100%;
        }
      }
      ul {
        li {
          a {
            @include transition;
            display: block;
            text-decoration: none;
            text-transform: lowercase;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      address {
        padding: 0;
        width: 100%;
        span {
          padding: .33em 0 .33em .25em;
          &:first-of-type {
            font-weight: 800;
        }
        }
      }
    }
  }

  //  brand bar
  .brand-bar {
    align-items: center;
    background: hsla(49, 18%, 36%, 10%);
    display: grid;
    font-family: 'Montserrat', sans-serif, monospace;
    font-weight: 400;
    justify-content: center;
    padding: .25em 1em;
    a {
      border: {
        bottom: 1px solid hsl(70, 50%, 75%);
      }
      padding-bottom: 3px;
    }
  }
}